body{ background-image: url("https://lh3.googleusercontent.com/kVnLoIK8W7L2B7yEn_8LZCQYTZWRMsx3Ch1Bam5xuD6Ek0sysQdWAG7OTlJSwdW5gQ=h1264");

}

.container{
	color: #ffc107;
}

.jumbotron{
	background-color: transparent;
}